@import "/node_modules/rc-time-picker/assets/index.css";


.rc-time-picker-panel-select{
  width:50%;
}
.rc-time-picker-panel-select-option-disabled{
  display: none;
}

.rc-time-picker{
  &-input{

    border-radius:0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: block;
    font-size: 14px;

    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    &[disabled]{
      cursor:not-allowed;
    }
  }
}